{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="login-page">
  {{ form_start(form, {'attr': {'class': 'form-box'}}) }}
    <h1>Inscription</h1>

    {% for message in app.flashes('success') %}
      <div class="mb-3">{{ message }}</div>
    {% endfor %}

    {{ form_widget(form) }}
    <button type="submit" class="btn">S’inscrire</button>
  {{ form_end(form) }}
</section>
{% endblock %}
