{% extends 'base.html.twig' %}

{% block title %}Modifier le masque{% endblock %}

{% block body %}
<section class="modifier-masque-page">
  <div class="modifier-masque-container">
    <h1>Modifier le masque</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">✏ Enregistrer les modifications</button>
    {{ form_end(form) }}
  </div>
</section>
{% endblock %}